body {
  font-family: helvetica;
  font-size: 30px;
}
td {
  height: 60px;
  width: 60px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
}

#board {
  border-collapse: collapse;
  border: 1px solid black;
}
